
MONGO_URI=


MONGO_DB_NAME=

MONGO_PROBLEMS_COLLECTION=


OPENAI_API_KEY=


OPENAI_EMBEDDING_MODEL=

OPENAI_EMBED_BATCH_SIZE=


CHROMA_PATH=


CHROMA_COLLECTION=

OLLAMA_BASE_URL=

OLLAMA_MODEL_NAME=

JWT_SECRET=

JWT_EXPIRE_MINUTES=

JWT_ALGORITHM=

CORS_ORIGINS=http://localhost:5173

LEETCODE_SESSION=

# Delay in seconds between scraper requests (be polite to LeetCode's servers)
SCRAPE_DELAY=1.5
